body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-size: 20px;
}
a {
    color: white;
    text-decoration: none;
}
h1 {
    margin: 0;
}
h2 {
    margin: 0;
}
#wrapper {
    /* The kindle removes the scroll bars if the width of the page is 607 px or more... */
    width: 607px;
    height: 775px;
    background-color: white;
    overflow: hidden; /* TODO: needed? */
    text-align: left;
}

#logo {
    text-align: center;
    width: 110px;
    height: 105px;
    line-height: 0.9;
    background-color: black;
    color: white;
    padding-top: 8px;
    margin: 15px 0 0 15px;
    float: left;
}

.font-150-percent {
    font-size: 150%;
}

/******************** Header ********************/
#header {
    overflow: hidden; /* TODO needed? */
    /*background-color: red;*/
}

/******************** Main Menu ********************/

#main-menu {
    float: left;
    margin: 15px 0 0 15px;
    width: 445px;
    height: 112px;
    overflow: hidden; /* TODO: needed? */
    text-align: center;
    line-height: 1;
    background-color: black;
    color: white;
    
}
#main-menu img {
    height: 40px;
}

.main-menu-item {
    width: 120px;
    display: inline-block;
    border: 3px solid #ccc;
    margin: 11px 5px;
    padding: 10px 0 8px 0;
}
.main-menu-active {
    background-color: #ccc;
    color: black;
    text-decoration: none;
}

/******************** Main Content ********************/
#content {
    /*background-color: blue;*/
    padding-left: 15px;
}

/******************** Sidebar ********************/

#sidebar {
    background-color: black;
    color: white;
    width: 110px;
    margin-top: 15px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;

    /*height: 380px;*/
}

.sidebar-item {
    border: 3px solid #ccc;
    margin: 15px 10px;
    padding: 15px 0;
    text-align: center;
    font-size: 25px;
}

.sidebar-item-active {
    background-color: #ccc;
    color: black;
    text-decoration: none;
}

/******************** Ground Plan ********************/

#groundplan {
    width: 470px;
    /*border: 2px solid black;*/
    display: inline-block;
    position: relative;
}

/*#groundplan img {
    width: 100%;
}*/
.groundPlanImg {
width: 100%
}

.temperature {
    font-size: 30px;
}

.room-label {
    text-align: center;
    position: absolute;
}
.icon-locked {
position: absolute;
width: 32px;
height: 32px;
}

/******************** LIGHTS ********************/
#lights div {
    border: 2px solid black;
    display: inline-block;
    text-align: center;
    padding: 0 5px;
    margin: 2px 0;
    width: 90px;
    height: 60px; line-height: 60px;
    vertical-align: top;

    background-color: black;
    color: white;
}

#lights div span {
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
}

#lights .on {
    background-color: white;
    color: black;
}
#lights table {
    width: 570px;
    border-collapse: collapse;
}

#lights td {
    vertical-align: bottom;
}

#lights .floor {
    font-size: 200%;
    font-weight: bold;
    vertical-align: top;
}
